<!-- Content Wrapper. Contains page content -->
<link rel="stylesheet" href="/res/admin/css/products.css">

<div class="content-wrapper">
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Painel Gamer
  </h1>
  <ol class="breadcrumb">
    <li><a href="/admin"><i class="fa fa-dashboard"></i> Home</a></li>
   

  </ol>
</section>

<!-- Main content -->
<section class="content">

  <div class="row">
  	<div class="col-md-12">
  		<div class="box box-primary">
            
            <div class="box-header">
              <a href="/admin/painel/newgamer" class="btn btn-success">Cadastrar Jogador</a>
              <a href="/admin/painel/newpoint" class="btn btn-success">Efetuar Lançamento</a>
              <a href="/admin/painel/benefit" class="btn btn-success">Benefícios</a>
            </div>

           
            <!-- /.box-body -->
          </div>
          <table class="table table-striped">
            <thead class="cabecalho">
              <tr>
                <th style="width: 10px">Jogador</th>
                <th>Score</th>
                <th>Data Cadastro</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              {loop="$painel"}
              <tr>
                <td>{$value.usergamer}</td>
                <td>{$value.score}</td>
                


              </tr>
              {/loop}
            </tbody>
          </table>

  	</div>
  </div>

</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->