<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <link rel="stylesheet" href="/res/admin/css/category.css">
    <link rel="stylesheet" href="/res/admin/css/category-edit.css">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Tecnologia
      </h1>
     
    </section>
  
    <!-- Main content -->
    <section class="content">
  
      <div class="row">
        <div class="col-md-12">
          <div class="box box-primary">
  
           
  
            <div class="box-body no-padding category-create">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th style="width: 10px">#</th>
                    <!-- <th>Nome da Categoria</th> -->
                    <th style="width: 140px">&nbsp;</th>
                  </tr>
                </thead>
                <tbody>
                  {loop="$tecnologia"}
                  <tr>
                    <!-- <td>{$value.idref}</td> -->
                    <td>{$value.descategory}</td>
                    <td>{$value.desref}</td>
                    
                  </td>
                  </tr>
                  {/loop}
                </tbody>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
        </div>
      </div>
  
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->